/* margin */
.m-0 {
  margin: 0;
}

.m-4 {
  margin: 1rem;
}

.m-8 {
  margin: 2rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* padding */

.p-0 {
  padding: 0;
}
.p-3 {
  padding: 0.75rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
