.footer {
  background-color: var(--color-gray);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.footer__button {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  border: none;
}

.footer__button:hover {
  opacity: 0.7;
}

.footer--opacity {
  opacity: 0.5;
}
