.button {
  text-decoration: none;
  font: 24px/1em "Droid Sans", sans-serif;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  user-select: none;
  padding: 0.5em 0.6em 0.4em 0.6em;
  margin: 0.5em;
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7))),
    url("../../images/noise.png");
  transition: background 0.2s ease-in-out;
  color: hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 75%);
  box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em 0.3em,
    hsl(0, 0%, 60%) 0 0.1em 3px, hsl(0, 0%, 45%) 0 0.3em 1px, rgba(0, 0, 0, 0.2) 0 0.5em 5px;
}

.button:hover {
  background-color: hsl(0, 0%, 83%);
  cursor: pointer;
}

.button:active {
  background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))),
    url("../../images/noise.png");
  box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em 0.3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em 0.3em,
    rgba(0, 0, 0, 0.4) 0 0.1em 1px, rgba(0, 0, 0, 0.2) 0 0.2em 6px;
  transform: translateY(0.2em);
}

.button:focus {
  outline: none;
  color: rgba(254, 255, 255, 0.9);
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
}
