:root {
  --color-blue: #577590;
  --color-red: #f94144;
  --color-dark-orange: #f3722c;
  --color-light-orange: #f8961e;
  --color-yellow: #f9c74f;
  --color-light-green: #90be6d;
  --color-teal: #43aa8b;
  --color-gray: #eef1f4;
}
